<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Create A Space</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1 class="page_title">Create a Space</h1>
        <form action="/spaces/new", method="POST">
            <div class="form" style="margin: auto;">
                <p>
                    <label for="title">Space Title</label>
                    <br>
                    <input type="text" name="title" id="title">
                </p>
                <p>
                    <label for="price">Price per night</label>
                    <br>
                    <input type="text" name="price" id="price">
                </p>
                <p>
                    <label for="description">Description</label>
                    <br>
                    <input type="text" name="description" id="description">
                </p>
                <p>
                    <label for="user_id">User ID</label>
                    <br>
                    <input type="text" name="user_id" id="user_id">
                </p>     
                <p><input type="submit" value="Create a new space"></p>
                {%if errors%}
                <div class="t-errors">
                    Here are your errors:
                    {% for error in errors %}
                    <li>
                        {{error}}
                    </li>
                    {% endfor %}
                </div>
                {%endif%}
            </div>
        </form>
        <p><a href="/">View All Bookings</a></p>
        <p><a href="/spaces">Back to Spaces</a></p>
    </body>
</html>