<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{space.title}}</title>
    </head>
    <body>
        <h1>{{space.title}}</h1>
        <h2>Price per night: {{space.price}}</h2>
        <h3>Description: {{space.description}}</h3>

        <p>

        <form action="/spaces/{{space.id}}", method="POST">
        
                <p>
                    <label for="booking_date">Booking Date (YYYY-MM-DD)</label>
                    <br>
                    <input type="text" name="booking_date" id="booking_date"></p>
                <!-- <p>
                    <label for="space_id">Space ID</label>
                    <br>
                    <input type="text" name="space_id" id="space_id"></p> -->
                <p>
                    <label for="booking_user_id">Booking User ID</label>
                    <br>
                    <input type="text" name="booking_user_id" id="booking_user_id"></p>
                <p><input type="submit" value="Create booking"></p>
        </p>

        <p class="back_to_spaces"><a href="/spaces">Back to Spaces</a></p>
    </body>
</html>