<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{space.title}}</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>{{space.title}}</h1>
        <h2>Price per night: £{{space.price}}</h2>
        <h3>Description: {{space.description}}</h3>

        {% if bookings %}
        <h4>This space is not available on the following dates:</h4>
        {% endif %}
        {% for booking in bookings %}
            
            <article>
                <h5>{{booking.booking_date}}</h5>
            </article>

        {% endfor %}
        
        <p>

        <form action="/spaces/{{space.id}}", method="POST">
                <div class="form" style="margin: auto;"></div>
                <p>
                    <label for="booking_date">Booking Date (YYYY-MM-DD)</label>
                    <br>
                    <input type="text" name="booking_date" id="booking_date"></p>
                    
                <p>
                    <label for="booking_user_id">Booking User ID</label>
                    <br>
                    <input type="text" name="booking_user_id" id="booking_user_id"></p>
                    {%if errors%}
                        <div class="t-errors">
                            {{errors}}
                        </div>
                    {%endif%}
                <p><input type="submit" value="Create booking"></p>
            </div>
        </form>
        </p>
            
        <p class="back_to_spaces"><a href="/spaces">Back to Spaces</a></p>
    </body>
</html>