<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MapleBnB</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1 class="page_title">All Spaces</h1>
        <div class="card_grid">
            {% for space in spaces %}
                <article class="space_card">
                    <div>
                        <h2><a href="/spaces/{{space.id}}">{{space.title}}</a></h2>
                        <h3>£{{space.price}}/Night</h3>
                    </div>
                </article>
            {% endfor %}
        </div>
        <p><a href="/">View All Bookings</a></p>
        <h4><a href="/spaces/new">Want to list a new space? Click here!</a></h4>
    </body>
</html>
