<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Bookings:</title>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <h1 class = "page_title"> Welcome back, {{user.username}}! <br>
            <br>
            Here are your bookings:</h1>

            <ol>
            
            {% for booking in bookings %} 

                <li class="t-bookings-list">{{booking.space_title}} on {{booking.booking_date}}</li>
            
            {% endfor %}
            </ol>

        <h4><a href="/spaces/new">Want to list a new space? Click here!</a></h4>
        <p class="back_to_spaces"><a href="/spaces">Back to Spaces</a></p>
    </body>
</html>