<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Bookings:</title>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <h1>Welcome back, {{user.username}}! <br>
            <br>
            Here are your bookings:</h1>

    
        {% for booking in bookings %}

            <h2 class="t-bookings-list">{{booking.space_title}}, {{booking.booking_date}}</h2>
        
        {% endfor %}
    


        <p class="back_to_spaces"><a href="/spaces">Back to Spaces</a></p>
    </body>
</html>