<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Delete your account</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <img src="/static/tortoise_transparent.png" class="team_logo">
        <h1 class="page_title">Are you sure you want to delete your account?</h1>
        <form class="form" action="/delete_account" method="POST" style="margin: auto;">
            <p>
                <label for="username">Username</label>
                <br>
                <input type="text" name="username" id="username">
            </p>
            <p>
                <label for="password">Password</label>
                <br>
                <input type="password" name="password" id="password">
            </p>
            <p>
                <input type="checkbox" onclick="togglePassword()"> Show Password
            </p>
            <p><input type="submit" value="Delete account"></p>

            {% if user_not_found %}
                <div class="t-user_not_found_error">
                    {{user_not_found }}
                </div>
            {% endif %}
        <script src="static/scripts.js"></script>
    </body>
</html>
