<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Signup</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1 class="page_title">MapleBnb Sign Up</h1>
        <form class="form" action="/signup" method="POST" style="margin: auto;">
            <p>
                <label for="username">Username</label>
                <br>
                <input type="text" name="username" id="username">
            </p>
            <p>
                <label for="password">Password</label>
                <br>
                <input type="password" name="password" id="password">
            </p>
            <p>
                <label for="password">Confirm password</label>
                <br>
                <input type="password" name="confirm_password" id="confirm_password">
            </p>
            <p>
                <input type="checkbox" onclick="togglePassword()"> Show Password
                <script>
                function togglePassword() {
                    const pass_field = document.getElementById("password");
                    pass_field.type = pass_field.type === "password" ? "text" : "password";
                    const conform_field = document.getElementById("confirm_password");
                    conform_field.type = conform_field.type === "password" ? "text" : "password";
                }
                </script>
            </p>
            <p><input type="submit" value="Create a new account">
            </p>
            {%if errors%}
            <div class="t-errors">
                Here are your errors: {{errors}}
            </div>
            {%endif%}

            {%if duplicate_username_error%}
            <div class="t-duplicate_username_error">
                {{duplicate_username_error}}
            </div>
            {%endif%}

            {%if password_mismatch_error%}
            <div class="t-password_mismatch_error">
                {{password_mismatch_error}}
            </div>
            {%endif%}

                <p>
                    <label for="username">Username</label>
                    <br>
                    <input type="text" name="username" id="username"></p>
                <p>
                    <label for="password">Password</label>
                    <br>
                    <input type="text" name="password" id="password"></p>
                <p>
                    <label for="password">Confirm password</label>
                    <br>
                    <input type="text" name="confirm_password" id="confirm_password"></p>
                <p><input type="submit" value="Create a new account"></p>
                <p>Already have an account?</p>
                 <p><a href="/">Sign In</a></p>
        </p>
    </body>
</html>
