<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sign In</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1 class="page_title">MapleBnB Sign In</h1>
        <form class="form" action="/", method="POST" style="margin: auto;">
            <p>
                <label for="username">Username</label>
                <br>
                <input type="text" name="username" id="username">
            </p>
            <p>
                <label for="password">Password</label>
                <br>
                <input type="password" name="password" id="password">
            </p>
            <p><input type="submit" value="Sign In"></p>
            {%if errors%}
                <div class="t-errors">
                    Here are your errors: {{errors}}
                </div>
            {%endif%}
    
            {% if user_not_found %}
                <div class="t-user_not_found_error">
                    {{user_not_found }}
                </div>
            {% endif %}
        </form>
        <p><a href="/signup">Sign Up</a></p>
    </body>
</html>
