<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome</title>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <h1>
            Welcome to Maplebnb!
        </h1>

        <h2>
            View your bookings:
        </h2>

        <form action="/welcome", method="POST">
        
                <p>
                    <label for="user_id">User ID</label>
                    <br>
                    <input type="text" name="user_id" id="user_id"></p>
                
                <p><input type="submit" value="Submit"></p>

        <p><a href="/spaces">Browse Spaces</a></p>
    </body>
</html>
